// ANCHOR Swup
.transition-fade {
  transition: 300ms;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

// ANCHOR Countdown
.box {
  transition: filter 5000ms ease, opacity 500ms ease-in;
  filter: blur(25px);
  opacity: 0;
}
.box.trans {
  filter: blur(0);
  opacity: 1;
}

// ANCHOR Items motion
.list-projects-container {
  .list-projects {
    &.out {
      transition: 500ms ease;
    }
    // h2 { // Weird text highlight, probably not gonna use
    //   a {
    //     position: relative;
    //     &:after {
    //       content: '';
    //       position: absolute;
    //       top: 0;
    //       right: 0;
    //       left: 0;
    //       width: 100%;
    //       height: 100%;
    //       z-index: -1;
    //       border-radius: .25rem;
    //       background-color: rgba($white, 0.3);
    //       transform: scaleX(0);
    //       opacity: 0;
    //       transform-origin: left;
    //       transition: transform 400ms ease, opacity 600ms ease-in-out;
    //     }
    //     &:hover:after {
    //       opacity: 1;
    //       transform: scaleX(1);
    //       transition: transform 200ms cubic-bezier(0, 0, 0, 1.2) 150ms, opacity 100ms ease-in-out 100ms;
    //     }
    //   }
    // }
  }
}
