.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.box {
  transition: filter 5000ms ease, opacity 500ms ease-in;
  filter: blur(25px);
  opacity: 0;
}
.box.trans {
  filter: blur(0);
  opacity: 1;
}

.name {
  transition: all 2500ms cubic-bezier(0.83, 0, 0.17, 1);
}
