// ANCHOR Swup
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

// ANCHOR Countdown
.box {
  transition: filter 5000ms ease, opacity 500ms ease-in;
  filter: blur(25px);
  opacity: 0;
}
.box.trans {
  filter: blur(0);
  opacity: 1;
}

// ANCHOR Items motion
.list-projects-container {
  .list-projects {
    &.out {
      transition: 500ms ease;
    }
  }
}
