html {
  //margin: 0;
  // cursor: none;
}

/**
 * Countdown
 */
.countdown {
  height: 100vh;
}

/**
 * Nav
 */
.navbar {
  z-index: 100;
  margin-top: 5rem;
  ul {
    li {
      a {
        padding: 0.2rem 0 !important;
        font-weight: $font-weight-bold;
        font-size: $font-size-base * 2;
      }
    }
  }
}

.home.page {
}

/** 
 * Archive
 */
.post-type-archive-projects {
  // Overlay gradient
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    // background: linear-gradient(
    //   to right,
    //   rgba(16, 93, 135, 1),
    //   rgba(0, 0, 0, 0)
    // );
    opacity: 0;
    transition: 500ms ease;
    &.overlay-color {
      opacity: 0.5;
    }
  }
  // Image
  .bg-image-container {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    &.overlay-image {
      transition: opacity 300ms ease-in-out 150ms;
      opacity: 1;
      .bg-image-image {
        transform: scale(1);
        transition: transform 350ms cubic-bezier(0.33, 1.8, 0.66, 1) 150ms;
      }
    }
    .bg-image-image {
      margin-left: 25%;
      transform: scale(0.9);
      transition: transform 250ms ease-in-out;
      img {
        object-fit: cover;
        object-position: center center;
        width: 832px;
        height: 468px;
      }
    }
  }

  // Details
  .details-container {
    .details {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      opacity: 0;
      transition: 300ms ease-in-out;
      pointer-events: none;
      &.overlay-details {
        opacity: 1;
      }
    }
  }
}

.single-projects {
  .image-container {
    img {
      margin-top: 50%;
    }
  }

  .additional-images {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 10%;
    max-width: 750px;
    img {
      margin: 6rem 0;
    }
  }
}

// Transition helper for swup fuck up
.no-transition * {
  transition: unset!important;
}