html {
  margin: 0;
  cursor: none;
}
.countdown {
  height: 100vh;
}

::selection {
  background: unset;
  color: unset;
}

// .box {
//   border: 1px solid #B5D2FC;
//   box-shadow: inset 5px 5px #B5D2FC, inset -5px -5px #B5D2FC,
//               inset 10px 10px 1px #C9DEFC, inset -10px -10px 1px #C9DEFC,
//               inset 15px 15px  1px #D6E6FD, inset -15px -15px 1px #D6E6FD,
//               inset 20px 20px 2px #DDEAFD, inset -20px -20px 2px #DDEAFD,
//               inset 25px 25px 2px #F1F6FE, inset -25px -25px 2px #F1F6FE;
// }