h1 {
  // transform: rotate(180deg);
  // text-align: right;
  color: rgba($primary, 0.6666);
  white-space: nowrap;
  line-height: 1;
  font-size: 2rem;
  // margin-top: 4rem;
  position: absolute;
  // right: 1rem;
  // @include media-breakpoint-up(lg) {
  //   left: 1rem;
  // }
}
h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
